input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 12px;
  color: #0e3b36;
  background-color: #e7f0ef;
  border: 1px solid #e7f0ef;
  border-radius: 4px;
  box-sizing: border-box;
}
